/* =====
Best Selling
===== */

.best-selling {
  margin-bottom: 20px;
  
  .table-title {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    border-radius: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    span {
      font-size: 1rem;
      font-weight: 500;
      color: var(--dark-color);
    }
  }

  .order-id {
    font-weight: 500;
    color: var(--main-color);
  }

  .order-status {
    &.paid {
      color: var(--success-color);
    }
    &.pending {
      color: var(--warning-color);
    }
    &.unpaid {
      color: var(--danger-color);
    }
  }
}