/* =====
Right side
===== */

.right-side {
  background-color: #fff;
  padding: 20px 16px 16px;
  width: 280px;
  min-height: 100vh;
  display: none;
  @media (min-width: 992px) {
    display: block;
  }

  .top-categories {
    .section-title {
      display: block;
      font-size: .8125rem;
      font-weight: 600;
      color: var(--secondary-color);
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
      li {
        a {
          display: block;
          width: 100%;
          padding: 5px 0;
          font-size: .8rem;
          font-weight: 400;
          color: var(--dark-color);
          &:hover {
            color: var(--main-color);
            padding: 5px;
          }
        }
      }
    }
  }
}