/* =====
Statistics
===== */

.statistics {
  padding-top: 20px;

  .welcome-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
    }

    .text {
      .welcome-message {
        font-size: 1rem;
        font-weight: 500;
        color: var(--main-color);
      }
      p {
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--secondary-color);
      }
    }

    .actions {
      .add-product {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding: 10px 20px;
        background-color: var(--success-bg);
        border-radius: 4px;
        color: var(--main-color);
        font-size: .8125rem;
        font-weight: 500;

        &:hover {
          background-color: var(--success-color);
          color: #fff;
          opacity: 0.8;
        }
      }
    }
  }
  
  .statistics-box {
    padding: 16px;
    margin-bottom: 1.5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(109, 112, 115, 0.1);
    transition: 0.3s;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(30, 32, 37, 12%);
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 1.5rem;

      .name {
        font-size: .8125rem;
        font-weight: 500;
        color: var(--secondary-color);
        text-transform: uppercase;
      }
      .average {
        font-size: .8125rem;
        font-weight: 600;
        color: var(--secondary-color);
      }
    }
    .number {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--main-color);
    }
    .actions {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .link {
        font-size: .8125rem;
        font-weight: 500;
        color: var(--secondary-color);
        text-decoration: underline;
        &:hover {
          color: var(--main-color);
        }
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        background-color: var(--success-bg);
        color: var(--main-color);
        border-radius: 4px;
        font-size: 18px;
      }
    }
  }
}