/* =====
Visits Source
===== */

.visits-source {
  width: 450px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  
  .table-title {
    padding: 16px;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    span {
      font-size: 1rem;
      font-weight: 500;
      color: var(--dark-color);
    }
  }
}