/* =====
Header
===== */

.dashboard-header {
  width: 100%;

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // left side
    .left {

    }

    // right side
    .right {
      
    }
  }
}